<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NAS Management System</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div id="main">
      <h1>NAS Management System</h1>

      {% if session.get('user') %}
      <div class="nav">
        <h2>Welcome, {{ session['user'] }}!</h2>
        <div class="links">
          {% if session['role'] == 'ADMIN' %}
          <a class="nav-links" href="/users">Users</a>
          <a class="nav-links" href="/metrics">Metrics</a>
          {% endif %}
          <a class="nav-links" href="/logout">Logout</a>
        </div>
      </div>
      {% else %}
      <h2>Please log in to continue.</h2>
      <a href="/login">Go to Login</a>
      {% endif %} {% if session.get('user') %}
      <h3>Manage Folders</h3>
      <form id="folderForm">
        <input
          type="text"
          id="folderInput"
          name="folderName"
          placeholder="Folder Name"
          required
        />
        <button type="submit">Create Folder</button>
      </form>

      <h3>Upload a New File</h3>
      <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" id="fileInput" name="file" required />
        <button type="submit">Upload</button>
      </form>
      {% endif %}

      <h3>Files and Folders in NAS:</h3>
      <ul id="files"></ul>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
